@import url("https://fonts.googleapis.com/css2?family=Sono:wght@300;400;500;600;700&display=swap");

@tailwind base;
h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
body {
  border: 3px red solid;

} */

body,
input {
  font-family: "Sono", sans-serif;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      /* #231557 0%, */
      #f0d676 0%,
      #73ba4d 29%,
      #ff1361 67%,
      #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.project-cat {

  border: 2px solid #ffd700;


}

.project-cat-active {
  outline-style: solid;
  outline-color: #ffd700;
  outline-width: 4px;
  outline-offset: -4px;
  box-shadow: 2px 2px 12px 3px #fff;


}

.project-border {
  border: 3px solid #fff;
  border-radius: 10px;
}

.border-radial {
  border-top: 3px solid rgba(255, 215, 0, 0.8);
  border-right: 3px solid rgba(255, 215, 0, 0.6);
  border-bottom: 3px solid rgba(255, 215, 0, 0.4);
  border-left: 3px solid rgba(255, 215, 0, 0.2);
  transition: all 0.5s ease-in;
}

.contact-box:hover {
  border: 3px solid rgb(255, 215, 0);
  box-shadow: 2px 2px 12px 5px #fff;
  cursor: pointer;

}

.active {
  background-color: #1E3A8A !important;
}



.contact-input:focus {

  outline-style: solid;
  outline-color: #ffd700;
  outline-width: 4px;
  outline-offset: -4px;
  box-shadow: 2px 2px 12px 3px #fff;
}

.toggleItem svg{
  color: rgb(203, 227, 47);
  font-size: x-large;
}